.process-section{
    margin-bottom: 150px;
    height: 389.087px;
    flex-shrink: 0;
    background: url(../../images/Bg2.png) no-repeat center center; 
}
.process__wrap{
    
    margin:  auto;
    // margin-bottom: 32px;
    padding-top: 52px;
    display: flex;
    width: 542px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.process__title{
    display: flex;
    width: 542px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.process__text{
    color: #22343D;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.process__link-wrap{
    text-align: center;
    margin-top: 48px;
}
.process__link{

    padding: 15px 31px 14px 30px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 216px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #02897A;
    &:hover{
        opacity: 0.7;

    }
    &:active{
        color: aqua;
    }
}
.process__img-wrap {
    @include display($space:space-between);
    margin-top: 32px;
    margin-bottom: 24px;
}
.process__img-wrapper {
    @include display($space:space-between);
}

@media only screen and (max-width: 850px){
    .process-section{
        width: 100%;
        text-align: center;
   
    };
    .process__img-wrap{
         flex-direction: column;
         width: 100%;
         text-align: center;
    }
    .process__img-wrapper{
        width: 100%;
        text-align: center;
        flex-direction: column-reverse;
    }
    .process__wrap{
        width: 100%;
        text-align: center;
    }
    .process__title{
        width: 100%;
        text-align: center;
    }
    .process__text{
        width: 100%;
        text-align: center;
    }
    .process__link-wrap{
        margin-bottom: 100px;
    }
}